@charset "utf-8";

/* 초기화 /////////// */
*{
    margin: 0;
    padding: 0;
}
body{
    font:14px "Noto Sans KR", sans-serif;
    color: #333;
}

a{
    text-decoration: none;
    color: #333;
}
li{
    list-style: none;
}
img{
    border: 0;
}

/* float 사용하는 경우 부모의 세로길이 적용 되게 하는 clear */
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
